body{
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid.homeMain{
    width: 100%;
    height: 649px;
    text-align: center;
}
.container.timer{
    color: white;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.34);
    text-align: center;
    align-content: center;
    position: relative;
}
.container.alarmList{
    height: 55%;
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    overflow-y:scroll;
    margin-top: 11px;

}
.container.timer span{
    font-size: 71px;
    font-family:Courier New;
    float: left;
    width: 100%;
    margin-top: 8%;
}
.container.timer button{
    position: absolute;
    left : 20px;
    bottom : 30px;
    overflow: hidden;
}
#mytable th {
    text-align: center;
}
.container.timer .table-responsive {
    background-color: white;
}

#alarmDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    height: 100%;
    text-align: center;
    z-index: 1000;
}
audio{
    display: none !important;
}
.alarmImg{
    width: 100px; height: 100px;
}
.overlay{
    margin-top: 19%;
    float: left;
    width: 100%;
}
.daysCheckBox{
    float: none !important;
    margin-left: 0px !important;
}
